<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="estilos/detalhamento.css">
        <link rel="stylesheet" type="text/css" href="estilos/detalhamento.css" />
    </head>
    <body>
        <div class="">
            <div class="row" id="compartimentos">
                <header>
                    <div id="infoPrincipal">
                        <img src="imagens/imagemPrincipal.png" alt="">
                    </div>
                    <div>
                        <nav>
                            <div id="logo">
                                Criatividade
                                <img src="imagens/lampada2.png"  style="width: 15%; margin-top: -10px; margin-left: -5px;">
                            </div>
                            <div id="menu" style="position:absolute; color:#fff; text-align: center; top: 20px; left: 300px;">
                                <a href="/">HOME</a>
                                <a href="Programacao">PROGRAMAÇÃO</a>
                                <a href="/inscricao">INSCRIÇÃO</a>
                            </div>
                        </nav>
                    </div>
                    <div id="tema">
                        <label>INOVAÇÃO: A GENTE VÊ POR AQUI</label>
                        <p>
                            A importância da inovação, vem do conhecimento, é um caso muito importante,
                            pois através dele, muitas coisas podem se realizar. Em um momento,
                            quando você adquire conhecimento, surge novas ideias, de repente um design de um website
                            pode vir a sua mente nessa ideia, e em seguida com ele, você pode abusar da criatividade
                            e asim, surgindo novas inovações para a realização de projetos.
                        </p>
                    </div>
                </header>
                <section>
                    <article>
                        <div class="container">
                            <div class="col-sm-12">
                                <div class="ficha">
                                    <div class="col-sm-3">
                                        <div id="foto">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="informacoes">
                                            <span id="nomeCompleto"></span>
                                            <span id="cidade"></span>
                                            <span id="data_atual"></span>
                                        </div>
                                        <div id="descricao">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <form action="/inscricao" method="get">
                                    <input type="submit" value="Voltar ao menu anterior" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    </article>
                </section>
                <footer>

                </footer>
            </div>
        </div>
    </body>
    <link rel="stylesheet" type="text/css" href="estilos/detalhamento.css" />
</html>